<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <connectionStrings>
      <add name="OxcoderDatabaseConnectionString" connectionString="Data Source=.;Initial Catalog=OxcoderDatabase;User ID=sa;password=123456;Integrated Security=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <pages validateRequest="false"></pages>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime requestValidationMode="2.0"  />
    </system.web>

</configuration>
